<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.stefanmedack.ccctv"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO"/>-->

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"
        />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true"
        />

    <application
        android:name=".C3TVApp"
        android:allowBackup="true"
        android:banner="@drawable/voctocat"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/CCCTheme.Leanback"
        >

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.detail.DetailActivity"/>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.AppCompat"
            />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.AppCompat"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2661981927f4d4deaa30951bef2f35d92f832716"
            />

    </application>

</manifest>